# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db


Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@csabull96 
dotnet
/
core
1.4k
🔖 Custom notification settings
Looking for a little more control? Now you can choose which types of activity you’d like to be notified about per repository.

14.9k3.7k
Code
Issues
353
Pull requests
1
Actions
Projects
Security
Insights
core/.gitignore
@pavinthan
pavinthan Add jetbrains folder to .gitignore (#2320)
Latest commit 718ec99 on Feb 27, 2019
 History
 5 contributors
@richlander@geek@Petermarcu@pavinthan@terrajobst
37 lines (32 sloc)  341 Bytes
  
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
